.balance {
  height: 56px;
  width: 60px;
}
.navybar{
  position:relative;
  padding-top:.5rem;
  padding-bottom:.5rem
  
}

.border-style {
  border-style: dashed;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .cth {
    padding-left: 200px;
    padding-right: 200px;
  }
}

body {
  background: rgba(0, 0, 0, .51);
  background-image:url(bg.jpg);
background-size:cover;
background-blend-mode: darken;
background-position:center;
background-repeat:no-repeat
}
