@media screen and (min-width: 768px){
  .form-size{
    padding-left: 25px;
    padding-right: 25px;
  }
}

.bg-image-darken{
  background: rgba(0, 0, 0, .51);
  background-image:url(bg.jpg);
background-size:cover;
background-blend-mode: darken;
background-position:center;
background-repeat:no-repeat
}
